<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curricullam</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="page-container">
        <!-- Home -- Logo -->

        <div class="logo-wrapper">
            <div class="home-link-wrapper">
                <a href="/"><img src="../static/favicon-32x32.png" alt=""></a>
            </div>
            </div>
        
            <!-- Nav -->
    
            <div class="nav-wrapper">
            <div class="nav-link-wrapper">
                <a href="/ourstory">Our Story</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/curricullam">Curricullam</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/gallery">Gallery</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/stories">Stories</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/newsandevents">News & Events</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/contacts">Contact us</a>
            </div>
            </div>
        
            <!-- Footer -->
    
            <div class="footer-container">
                <p>Neuralnet dev team</p>
            </div>
        
    </div>
</body>
</html>