<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="page-container">
        <!-- Home -- Logo -->
        <div class="logo-wrapper">
        <div class="home-link-wrapper">
            <a href="/"><img src="../static/favicon-32x32.png" alt=""></a>
        </div>
        </div>
    
        <!-- Nav -->
        <div class="nav-wrapper">
        <div class="nav-link-wrapper">
            <a href="/ourstory">Our Story</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="/curricullam">Curricullam</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="/gallery">Gallery</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="/stories">Stories</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="/newsandevents">News & Events</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="/contacts">Contact us</a>
        </div>
        </div>
    
        <!-- Carousel -- Form -->
        <div class="carousel-container">
            <div class="carousel-image">
                <img src="static/monica-sedra-riajHP6CCQU-unsplash.jpg" alt="">
                <div class="carousel-quote"><p>Photo by <a href="https://unsplash.com/@kylejr?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"> Monica Sedra</a> on <a href="https://unsplash.com/s/photos/kindergarten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"> Unsplash</p></a>
                </div>
            </div>
            <div class="carousel-image">
                <img src="static/gautam-arora-ftV8LhXeOic-unsplash.jpg" alt="">
                <div class="carousel-quote">Photo by <a href="https://unsplash.com/@gautamarora1991?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"> Gautam Arora</a> on <a href="https://unsplash.com/s/photos/kindergarten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"> Unsplash</a>
                </div>
            </div>
            <div class="carousel-image">
                <img src="static/andrew-ebrahim-zRwXf6PizEo-unsplash.jpg" alt="">
                <div class="carousel-quote">Photo by <a href="https://unsplash.com/@sdb_sjbc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"> Andrew Ebrahim</a> on <a href="https://unsplash.com/s/photos/kindergarten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"> Unsplash</a>
                </div>
            </div>
            <div class="carousel-image">
                <img src="static/sharon-mccutcheon-sbE9zbcuiZs-unsplash.jpg" alt="">
                <div class="carousel-quote">Photo by <a href="https://unsplash.com/@sharonmccutcheon?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"> Sharon McCutcheon</a> on <a href="https://unsplash.com/s/photos/kindergarten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"> Unsplash</a>
                </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="form-container">
            <form action="">
                <input type="text"><br>
                <input type="text"><br>
                <input type="text"><br>
                <button disabled="disabled">Enroll</button>
            </form>
        </div>

        <!-- Feature -->
        <div class="feature-container">
            <div class="feature">Online / Homeschooling</div>
            <div class="feature">Offline</div>
        </div>
    
        <!-- BodyQuote01 -->
        <div class="body-quote-wrapper01">
            <p>Fair isn't everyone getting the same thing. Fair is everyone getting what they need in order to be successful.</p>
        </div>
        
        <!-- BodyNav01 -->
        <div class="body-nav01">
            <div class="body-navItem-wrapper">
                Why Pre-School?
            </div>
            <div class="body-navItem-wrapper">
                Successful Online Classes
            </div>
            <div class="body-navItem-wrapper">
                Kid's Expert
            </div>
            <div class="body-navItem-wrapper">
                Awards and Testimonials
            </div>
            <div class="body-navItem-wrapper">
                Associated with
            </div>
        </div>
        
        <!-- BodyQuote02 -->
        <div class="body-quote-wrapper02">
            <p>Children must be taught 'How to think' not 'What to think'.</p>
        </div>
        
        <!-- Tier -->
        <div class="tiers-container">
            <div class="tiers">
                <p>Tiny Tots<br>2 to 2.5 years</p>
            </div>
            <div class="tiers">
                <p>Play Group<br>2.5 to 3 years</p>  
            </div>
            <div class="tiers">
                <p>Nursery<br>3+ years</p>
            </div>
            <div class="tiers">
                <p>Kinder Garten I<br>4+ years</p>
            </div>
            <div class="tiers">
                <p>Kinder Garten II<br>5+ years</p>
            </div>
        </div>
        
        <!-- BodyQuote03 -->
        <div class="body-quote-wrapper03">
            <p>When we look at our kids, we see unlimited possibilities.</p>
        </div>
        
        <!-- BodyHeading -->
        <div class="body-heading">
            <h1>Why Verbena?</h1>
        </div>
    
        <!-- BodyNav02 -->
        <div class="body-nav02">
            <div class="body-navItem-wrapper">
                Need & the hour
            </div>
            <div class="body-navItem-wrapper">
                **
            </div>
            <div class="body-navItem-wrapper">
                Identification of problem area
            </div>
            <div class="body-navItem-wrapper">
                Collaboration with world educators
            </div>
            <div class="body-navItem-wrapper">
                Problem based solution
            </div>
            <div class="body-navItem-wrapper">
                Achievements ***
            </div>
        </div>
    
        <!-- Footer -->
        <div class="footer-container">
            <p>Neuralnet dev team</p>
        </div>
    </div>
    <script src="../static/carousel.js"></script>
</body>
</html>